/* global configurations */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Alegreya;
}

.clearfix {
    clear: both;
}

.margin-left {
    margin-left: 12px;
}

.container {
    width: 80%;
    margin: auto;
    /* outline: 3px solid red; */
}

h1, h2, h3, h4, h5, h6 {
    color: #303030;
    font-weight: 400;
}

h1 {
    font-size: 32px;
    margin-bottom: 25px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: none;
}
